mixin radiobox(item, type="radio")
    input.radiobox(id=item.id, name=item.name, type=type, value=item.value, checked= item.checked? "checked":false)
    label.radiobox__label(for=item.id)= item.text